<% if(locals.success?.length){ %>
<div class="alert-message success">  
    <div class="message-text">
        <%= success%>
    </div>
    <div class="close-btn">X</div>
</div>
<%}%>
<% if(locals.error?.length){ %>
    <div class="alert-message error"> 
        <div class="message-text">
            <%= error%>
        </div>
        <div class="close-btn">X</div>
    </div>
<%}%>
<div class="alert-message success">  
    
    
</div>