<div class="banner">
    <div class="banner-left">
        <div class="banner-left-lead-text">
            Welcome to the ABC couriers
        </div>
        <div class="banner-left-follow-text">One stop destination for all your logistical needs</div>
        <form class="tracker-holder" action="/order/search/id" method="post">
            <input type="text" name="search" id="tracking-input" placeholder="Tracking Id">
            <button id="tracking-btn">Track</button>
        </form>
    </div>
    <div class="banner-right">
        <video autoplay loop muted>
            <source src="/images/courier_boy.mp4" type="video/mp4">
            <img src="/images/courier_boy.jpg" alt="">
          </video>
    </div>
</div>