<div class="banner">
    <div class="banner-left">
        <div class="banner-left-lead-text">
            Lorem ipsum dolor sit amet consectetur
        </div>
        <div class="banner-left-follow-text">Lorem ipsum dolor sit amet</div>
        <div class="tracker-holder">
            <input type="text" name="trackingDetails" id="tracking-input" placeholder="Tracking Id / Mobile Number / Email">
            <button id="tracking-btn">Track</button>
        </div>
    </div>
    <div class="banner-right">
        <video autoplay loop muted>
            <source src="/images/courier_boy.mp4" type="video/mp4">
            <img src="/images/courier_boy.jpg" alt="">
          </video>
    </div>
</div>