
/* ================================ */

.main-content-admin{
    /* height:80vh; */
    display: flex;
    overflow: hidden;
    position: relative;
}
.left-menu{
    position: relative;
    background: #fff;
    z-index: 1;
    height:85vh;
    box-shadow: -1px 1px 10px 1px #ddd;
    transition: all 0.5s ease-in-out;
    flex: 1 1 1;

}

.left-menu .user-info{
    display: flex;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    white-space:nowrap;
}
.left-menu .user-info .user-img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #ED6733;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-menu .user-info .user-img img{
    height: 90%;
    width: 90%;
    transition: all 0.25s ease-in-out;
}
.left-menu .user-info .user-name{
    padding-left: 10px;
    font-size: 1.2rem;
    font-weight: 900;
    color:#777;
    transition: all 1s ease-in-out;
}
.left-menu .menu-tabs{
    padding-block: 20px;
    display: flex;
    flex-direction: column;

}
.left-menu .menu-tabs .menu-tab{
    padding:10px;
    cursor: pointer;
    color:#777;
    display: block;
}
.left-menu .menu-tabs .menu-tab.active{
    background-color: #eee;
    color:#ED6733;
}
.left-menu .menu-tabs .menu-tab i{
    padding-inline: 10px;
}
.left-menu[data-collapse="true"]{
    width:70px
}
.left-menu[data-collapse="true"] .user-info .user-img{
    height: 50px;
    width: 50px;
}
.left-menu[data-collapse="true"] .user-info .user-name{
    display: none;
}
.left-menu[data-collapse="true"] .menu-tabs .menu-tab{
    padding:10px;
    cursor: pointer;
    text-align: center;
}
.left-menu[data-collapse="true"]  .menu-tabs .menu-tab span{
    display: none;
    text-align: center;
}
.collapse-btn{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    font-size: 2rem;
    color:#ED6733;
    cursor:pointer;
}
.right-section{
    background: #fff;
    display: flex;
    flex-direction: column;
    display: flex;
    flex: 3 1 0;
    height: 85vh;
    overflow: hidden;
}
.right-top-bar{
    height:40px;
    width: 100%;
    box-shadow: 2px 2px 10px 1px #ccc;
    flex-shrink: 0;
}
.content-holder{
    overflow-y: scroll;
    padding:20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url(/images/bg.png); */

}
.content-holder::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.profile-holder{
    margin-top: 100px;
    background: #fff;
    width:380px;
    position: relative;
    box-shadow: -2px 1px 10px 1px #eee,
                2px 1px 10px 1px #777;
    border-radius: 10px;
    padding:0 20px 50px 20px;
}
.profile-holder .profile-picture{
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right:0;
    top:-75px;
    margin-left: auto; 
    margin-right: auto; 
    height:150px;
    width: 150px;
    box-shadow: 1px -2px 10px 1px #eee,
                2px 1px 10px 1px #777;
}
.profile-holder .profile-picture img{
    height: 85%;
}
.profile-holder .profile{
    margin-top: 80px;
}
.profile-holder .profile .name{
    color:#ED6733;
    text-align: center;
    font-size: 2rem;
    padding-block: 20px;
}
.profile-holder .profile .other-info{
    margin-top: 30px;
}
.profile-holder .profile .other-info .info{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
.profile-holder .profile .other-info .info .label{
    flex:1;
    align-self:center;
    font-weight: 900;
}
.profile-holder .profile .other-info .info .value{
    flex:3;
    align-self:center;
}
.right-section .tools{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: -1px 1px 10px 1px #ddd;
    border-radius: 10px;
    padding: 10px;
}
.tools-heading{
    color:#ED6733;
    padding-block: 20px;
    text-align: center;
    font-size: 2rem;
}
.tools-holder{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;
}
.tool-container{
    box-shadow: -1px 1px 10px 1px #ddd;
    padding:10px;
    height:250px;
    width: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.tool-container .tool-info{
    padding-top: 10px;
    font-weight: 900;
}
.tool-container .tool-info .yellow{
    color: rgb(230, 230, 108);
}
.tool-container .tool-info .green{
    color: rgb(70, 239, 70);
}
.tool-container .tool-info .red{
    color:red;
}
.tool{
    background: #ED6733;
    height: 75%;
    width: 75%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
    font-size: 1.5rem;
}
#tool-1{
    background: #67ECEF;
    background: -webkit-linear-gradient(top left, #67ECEF, #D0719B);
    background: -moz-linear-gradient(top left, #67ECEF, #D0719B);
    background: linear-gradient(to bottom right, #67ECEF, #D0719B);
}
#tool-2{
background: #9203AC;
background: -webkit-linear-gradient(top left, #9203AC, #CD5316);
background: -moz-linear-gradient(top left, #9203AC, #CD5316);
background: linear-gradient(to bottom right, #9203AC, #CD5316);
    }
#tool-3{
    background: #91D7CC;
    background: -webkit-linear-gradient(top left, #91D7CC, #8DDCAD);
    background: -moz-linear-gradient(top left, #91D7CC, #8DDCAD);
    background: linear-gradient(to bottom right, #91D7CC, #8DDCAD);
}
.tool .tool-img{
    font-size: 2rem;
    padding-bottom: 10px;
}
.search-box-holder{
    width:100%;
    box-shadow: 1px 1px 10px 1px #ddd;
    padding:10px;
    margin-top: 20px;
    border-radius: 10px;
}
.search-holder{
    width:350px;
    display: flex;
    border-radius: 50px;
    box-shadow: -1px 1px 10px 1px #ddd;
}
.search-holder input{
    flex: 3 0 0;
    padding: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border:none;
}
.search-holder button{
    flex: 1 0 0;
    padding: 10px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border:none;
    background: #ED6733;
    color:#fff;
}
.search-results{
    width:100%;
    box-shadow: 1px 1px 10px 1px #ddd;
    padding:10px;
    margin-top: 20px;
    border-radius: 10px;
}
.search-results .table{
    width:100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.table .table-head{
    padding-top:50px ;
    padding-bottom:20px ;
    font-size: 1.5rem;
    color:#ED6733
}
.table-header,.table-row{
    display: flex;
    width: 100%;
}
.table-row:nth-of-type(odd){
    background: #eee;
}
.table-row:nth-last-of-type(1){
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.table-header{
    background: #ED6733;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.table-header .cell,.table-row .cell{
    flex:1 0 0;
    padding: 10px;
}
.table-row .cell a{
    color:#fff;
    background: #ED6733;
    border-radius: 50%;
    padding: 5px 7px;
}
.table-row .cell a i{
    border-radius: 50%;
}
#revoke-admin{
    background: red;
}
#make-admin{
    background: green;
}
.normal a{
    border-radius: 10px !important ;
}
.update-box-holder{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 10px 1px #ddd;
    padding:10px;
    margin-top: 20px;
    border-radius: 10px;
}
.mark-delivered-holder{
    width:350px;
    display: flex;
    padding-top: 20px;
    margin-left:10px;
}
.mark-delivered-holder label{
    color:#ED6733;
    margin-left:10px;
}
.add-holder{
    width:350px;
    display: flex;
    border-radius: 50px;
    box-shadow: -1px 1px 10px 1px #ddd;
}

.add-holder input{
    flex: 3 0 0;
    padding: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border:none;
}
.add-holder select{
    width: 75%;
    padding: 10px;
    border-radius: 50px;
    border:none;
    padding-right: 30px;
    color:#777;

}
.add-holder select optgroup{
    background:#ED6733;
    color:#fff;
    font-style:normal;
    font-weight:normal;
    }
.add-holder button{
    flex: 1 0 0;
    padding: 10px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border:none;
    background: #ED6733;
    color:#fff;
    cursor: pointer;
}
.delete-holder{
    width:350px;
    display: flex;
    border-radius: 50px;
    margin-top: 5px;
    box-shadow: -1px 1px 10px 1px #ddd;
}
.delete-holder button{
    flex: 1 0 0;
    padding: 10px;
    border-radius: 50px;
    border:none;
    background: #ED6733;
    color:#fff;
}
.done-holder{
    width:350px;
    display: flex;
    border-radius: 50px;
    margin-top: 20px;
    box-shadow: -1px 1px 10px 1px #ddd;
}
.done-holder button{
    flex: 1 0 0;
    padding: 10px;
    border-radius: 50px;
    border:none;
    background: #ED6733;
    color:#fff;
}
/* ==========================Order form=========================================== */

.order-box-holder{
    width:100%;
    height: 85vh;
    display: flex;
    background-image: url(/images/bg.png);
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 10px 1px #ddd;
    padding:50px;
    margin-top: 20px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    
}
.text-holder{
    width:350px;
    display: flex;
    margin: 5px;
    border-radius: 50px;
    box-shadow: -1px 1px 10px 1px #ddd;
}
.text-holder input{
    flex: 3 0 0;
    padding: 10px;
    border-radius: 50px;
    border:none;
}
.text-holder select{
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    border:none;
    padding-right: 30px;
    color:#777;

}
.text-holder select optgroup{
    background:#ED6733;
    color:#fff;
    font-style:normal;
    font-weight:normal;
    }

/* ==========================Order Details onabove timeline================================================ */
.details-holder{
    width:100%;
    box-shadow: 1px 1px 10px 1px #ddd;
    padding:10px;
    margin-top: 20px;
    border-radius: 10px;
}
.details-holder .detail{
    display: flex;
    padding: 10px;
}
.details-holder .detail .label{
    flex:1;
    font-weight: bolder;
    border-right: 2px solid #eee;
}
.details-holder .detail .value{
    padding-left: 10px;
    flex:6;
}
/* ==========================Order Timeline=========================================== */
.timeline-holder{
    width:100%;
    box-shadow: 1px 1px 10px 1px #ddd;
    padding:10px;
    margin-top: 20px;
    border-radius: 10px;
}
.timeline-holder .timeline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.timeline-step{
    width:300px;
    position: relative;
    padding: 20px;
}
.timeline-step .content .heading{
    color: #ED6733;
    font-size: 1.3rem;
    padding-bottom:10px ;
}
.timeline-step .icon{
    height: 30px;
    width:30px;
    background: #ED6733;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

}
.timeline-step::after{
    content: "";
    position: absolute;
    bottom:0;
    left:0;
    height: 3px;
    width: 100%;
    background: #ddd;
}
.timeline-step:nth-last-of-type(1)::after{
    height: 0px;
}
.timeline-step:nth-of-type(odd) .icon{
    transform: translateX(264px);
}
.timeline-step:nth-of-type(even) .icon{
    transform: translateX(-34px);
}
.timeline-step:nth-of-type(odd):before{
    content: "";
    position: absolute;
    bottom:0;
    right:0;
    height: 100%;
    width: 3px;
    background: #ddd;
}
.timeline-step:nth-of-type(even):before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 3px;
    background: #ddd;
}
/* ================================ */
